.notes {
    min-height: calc(100vh - 19.4rem);
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.note {
    min-height: calc(100vh - 19.4rem);
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
}

.noteDiv {
    background: #f4f4f4;
    color: #000000;
    padding: 1rem 1rem;
    margin-bottom: 3rem;
    text-align: center;
}

.postDiv {
    background-color: white;
    padding: 5rem 5rem;
}

.olist {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    list-style-type: none;
}

.post {
    margin: 1rem 10rem;

}

.post a {
    background: #f4f4f4;
    color: #000000;
    display: block;
    padding: 1rem;
    text-decoration: none;
    max-height: 4.9rem;
}

.post a:hover {
    background: var(--mainWhite);
}

.post h2 {
    margin-bottom: 0;
}

.post h2:hover {
    margin-bottom: 0;
    color: var(--primaryColor);

}

.post p {
    font-size: .8rem;
    font-style: italic;
}
